.header {
  display: flex;
  justify-content: space-between;
  
  font-size: 0.75rem;

  width: 46rem;
}

.header span {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 1rem;
  padding: 2px 8px;

  background-color: var(--gray-400);
  color: var(--gray-200);
  font-weight: 700;
}

.header div {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.header div:first-child {
  color: var(--blue);
}

.header div:last-child {
  color: var(--purple);
}